<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="ArmHardware" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>

        <joint name="lower_arm_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>

        <joint name="upper_arm_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </ros2_control>

</robot>
